/* -------------------------------------------------- */
/* CONCERNS CAROUSEL
/* -------------------------------------------------- */

// OPTIONS
$concerns-carousel-options: (
	background-color: $accent,
	duration: 200ms,
	delay: 0,
	ease: ease-in-out
);


// MAIN
.concerns-carousel {

	@include fade(
		$type: 'top',
		$color: map-get($concerns-carousel-options, background-color),
		$alpha: 1,
		$scale: 100%,
		$start: 0%,
		$stop: 100%,
		$order: -1,
		$prefix: '',
		$suffix: '::before',
		$is-fixed: false,
		$clickable: false
	);
	overflow: visible;
	margin: {
		top: 0;
		right: map-get(map-get($section, margin), right);
		bottom: map-get(map-get($section, margin), bottom);
		left: map-get(map-get($section, margin), left);
	}
	height: auto;
	//height: 100%;
	background: $white;

	.flickity-viewport {

		overflow: hidden;

		.flickity-slider {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-items: stretch;
			height: 100%;
		}

	}

	.carousel-cell {

		$self: &;

		/*
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: center;
		*/
		margin-bottom: 2rem;
		padding: {
			top: 2rem;
			right: 2rem;
			bottom: 2rem;
			left: 2rem;
		}
		width: 400px;
		background: transparent;

		&-text-block {

			//flex-basis: 100%;
			@include transition(
				$property: (opacity, box-shadow, transform),
				$duration: map-get($concerns-carousel-options, duration),
				$delay: map-get($concerns-carousel-options, delay),
				$ease: map-get($concerns-carousel-options, ease),
				$optimize: true
			);
			@include shadow(
				$type: 'box-shadow',
				$color: #0f3b60,
				$x: 0,
				$y: 20px,
				$blur: 25px,
				$spread: 0,
				$alpha: 0.1,
				$strength: 0.5,
				$inset: false
			);
			margin: {
				left: auto;
				right: auto;
			}
			padding: 2rem;
			width: 100%;
			height: auto;
			border-radius: 8px;
			border: 1px solid lighten($gray, 15%);
			background: lighten(map-get($concerns-carousel-options, background-color), 5%);
			transform: translate3d(0,0,0) scale3d(0.92,0.92,1);
			transform-origin: bottom center;

			.icon {
				margin: {
					top: 2rem;
					right: auto;
					bottom: 2rem;
					left: 0;
				}
				height: 60px;
			}

			> h2 {
				@include transition(
					$property: (color),
					$duration: map-get($concerns-carousel-options, duration),
					$delay: map-get($concerns-carousel-options, delay),
					$ease: map-get($concerns-carousel-options, ease),
					$optimize: true
				);
				//flex: auto;
				//flex-basis: 100%;
				margin-bottom: 1rem;
				color: $secondary;
				font-size: 1.75em;
			}

			> p {
				//flex: auto;
				//flex-basis: 100%;
				color: $dark-gray;
				//font: $headline;
				//font-size: 1em;
			}

			.button {

				//flex-basis: 100%;
				height: 35px;

				p {
					//color: $primary;
					font: $subheadline;
				}

				&:hover,
				&.is-touch {

					p {
						color: $white;
					}

				}

			}

		}

		&-blockquote {

			@include transition(
				$property: (opacity, box-shadow, transform),
				$duration: map-get($concerns-carousel-options, duration),
				$delay: map-get($concerns-carousel-options, delay),
				$ease: map-get($concerns-carousel-options, ease),
				$optimize: true
			);
			@include shadow(
				$type: 'box-shadow',
				$color: #0f3b60,
				$x: 0,
				$y: 2px,
				$blur: 10px,
				$spread: 0,
				$alpha: 0.1,
				$strength: 0.2,
				$inset: false
			);
			margin: {
				left: auto;
				right: auto;
			}
			padding: 2rem;
			width: 100%;
			height: auto;
			border-radius: 8px;
			border: 1px solid lighten($gray, 15%);
			background: map-get($concerns-carousel-options, background-color);
			transform: translate3d(0,0,0) scale3d(0.92,0.92,1);
			transform-origin: bottom center;
			//filter: blur(2px);

			@include break($type: 'width', $min: 0, $max: $mobile, $orientation: 'both') {
				width: 100%;
			}

			> p {

				//flex: auto;
				//flex-basis: 100%;
				margin: {
					left: auto;
					right: auto;
				}
				padding-bottom: 4rem;
				width: 90%;
				//border-bottom: 1px solid rgba($primary, 0.5);

				@include break($type: 'width', $min: 0, $max: $mobile, $orientation: 'both') {
					padding-bottom: 2rem;
					width: 100%;
				}

			}

		}

		&.is-selected,
		&.is-settled {

			.carousel-cell-blockquote {

				@include shadow(
					$type: 'box-shadow',
					$color: #0f3b60,
					$x: 0,
					$y: 20px,
					$blur: 25px,
					$spread: 0,
					$alpha: 0.1,
					$strength: 0.5,
					$inset: false
				);
				transform: translate3d(0,-25px,0) scale3d(1,1,1);
				//filter: blur(0);

				@include break($type: 'width', $min: 0, $max: $mobile, $orientation: '') {
					transform: translate3d(0,0,0) scale3d(1,1,1);
				}

			}

		}

	}

	.flickity-prev-next-button {

		@include transition(
			$property: (opacity),
			$duration: 400ms,
			$delay: 0,
			$ease: $easeNatural,
			$optimize: true
		);
		//pointer-events: none;
		opacity: 1;
		overflow: hidden;
		display: none;
		width: 8%;
		height: 100%;
		border-radius: 0;
		background: transparent;

		svg {
			display: none;
		}

		&:hover {
			opacity: 1;
		}

		&.previous {

			@include fade(
				$type: 'left',
				$color: $white,
				$alpha: 1,
				$scale: 100%,
				$start: 0%,
				$stop: 100%,
				$order: 1,
				$prefix: '',
				$suffix: '::before',
				$is-fixed: false,
				$clickable: true
			);
			left: -1px;

			&.is-disabled {
				pointer-events: none;
				opacity: 0;
			}

		}

		&.next {

			@include fade(
				$type: 'right',
				$color: $white,
				$alpha: 1,
				$scale: 100%,
				$start: 0%,
				$stop: 100%,
				$order: 1,
				$prefix: '',
				$suffix: '::before',
				$is-fixed: false,
				$clickable: true
			);
			right: -1px;

			&.is-disabled {
				pointer-events: none;
				opacity: 0;
			}

		}

	}

	.flickity-page-dots {

		display: none;
		position: relative;

		&::after { // Line
			content: '';
			z-index: -1;
			position: absolute;
			top: 50%;
			left: 50%;
			width: 100%;
			height: 1px;
			border-top: 1px solid rgba($gray, 0.5);
			transform: translate(-50%,-50%);
		}

		li { // Dot

			@include transition(
				$property: (opacity, border, background, transform),
				$duration: 200ms,
				$delay: 0,
				$ease: $easeNatural,
				$optimize: true
			);
			opacity: 1;
			overflow: visible;
			position: relative;
			margin-right: 15rem;
			padding: {
				left: 0;
				right: 0;
			}
			width: 25px;
			height: 25px;
			border: 1px solid rgba($gray, 0.5);
			background: $white;

			&:last-child {
				margin-right: 0;
			}

			&::before { // Inner dot (selected)
				@include transition(
					$property: (opacity, border, background, transform),
					$duration: 200ms,
					$delay: 0,
					$ease: $easeNatural,
					$optimize: true
				);
				content: '';
				z-index: 1;
				position: absolute;
				top: 50%;
				left: 50%;
				width: 75%;
				height: 75%;
				border-radius: 100%;
				background: $secondary;
				transform: translate(-50%,-50%) scale3d(0,0,1);
			}

			&.is-selected {

				border-color: $secondary;
				//background: $primary;

				&::before {
					transform: translate(-50%,-50%) scale3d(1,1,1);
				}

			}

			@include break($type: 'width', $min: $tablet, $max: 1500px, $orientation: '') {
				margin-right: 10rem;
			}

			@include break($type: 'width', $min: $mobile, $max: $tablet, $orientation: '') {
				margin-right: 8rem;
			}

			@include break($type: 'width', $min: 0, $max: $mobile, $orientation: '') {
				margin-right: 2rem;
				width: 20px;
				height: 20px;
			}

		}

	}

}


// MODIFIERS
.concerns-carousel {

	$self: &;

	&.is-first-cell {
		
	}

	&.is-last-cell {
		
	}

}
