/* -------------------------------------------------- */
/* COMPONENT
/* -------------------------------------------------- */

// OPTIONS
$cursor-options: (
	color: $secondary, // Set the default color.
	hover-color: $primary, // Set the color when interacting with elements.
	opacity: 1, // Set the transparency of the main cursor and cursor trail.
	size: 60px, // Set the size of the main cursor. The cursor trail will double its size accordingly.  
	hide-default-cursor: false, // Hide the default cursor. It is recommened to leave this false for usability.
	blend-mode: luminosity, // Set the blend-mode when interacting with elements: color, color-burn, color-dodge, exclusion, darken, hue, lighten, luminosity, normal, hard-light, multiply, overlay, saturation, screen, soft-light
	duration: 200ms, // Set the duration of the animation.
	delay: 0, // Delay the animation by this amount. 
	ease: ease-out // Set the easing type for this animation.
);


// MAIN
.cursor {

	@include transition(
		$property: (opacity),
		$duration: map-get($cursor-options, duration),
		$delay: map-get($cursor-options, delay),
		$ease: map-get($cursor-options, ease),
		$optimize: true
	);
	pointer-events: none;
	user-select: none;
	opacity: 0;
	overflow: hidden; // Note: Bug in Safari causing only a quarter of the circle to show up.
	visibility: hidden;
	position: fixed;
	width: map-get($cursor-options, size);
	height: map-get($cursor-options, size);
	mix-blend-mode: map-get($cursor-options, blend-mode);

	&-core,
	&-trail,
	&-arrow, &-plus,
	&-circular {
		@include transition(
			$property: (opacity, top, left, border, background, transform),
			$duration: map-get($cursor-options, duration),
			$delay: map-get($cursor-options, delay),
			$ease: map-get($cursor-options, ease),
			$optimize: true
		);
		position: fixed;
		font-size: 1em;
		border-radius: 100%;
		transform: translate3d(-50%,-50%,0) scale3d(0.25,0.25,1) rotate(0);
		transform-origin: center center;
	}

	&-core {
		width: map-get($cursor-options, size) * 0.5;
		height: map-get($cursor-options, size) * 0.5;
		background: rgba( map-get($cursor-options, color), map-get($cursor-options, opacity) );
	}

	&-trail {
		width: map-get($cursor-options, size) + 0;
		height: map-get($cursor-options, size) + 0;
		border: 4px solid rgba(map-get($cursor-options, color), 0);
		background: rgba(map-get($cursor-options, color), 0);
		//backdrop-filter: blur(2px);
	}

	&-arrow {
		z-index: 1;
		color: map-get($cursor-options, hover-color);
		transform: translate3d(-50%,-50%,0) scale3d(0,0,1) rotate(45deg);
		mix-blend-mode: normal;
	}

	&-plus {
		z-index: 1;
		color: map-get($cursor-options, color);
		transform: translate3d(-50%,-50%,0) scale3d(0,0,1) rotate(45deg);
		mix-blend-mode: map-get($cursor-options, blend-mode);
	}

	&-circular {

		width: 12%;
		height: 12%;
		transform: translate3d(-50%,-50%,0) scale3d(0.25,0.25,1) rotate(-90deg);

		.foreground {
			fill: none;
			stroke: map-get($cursor-options, color);
			stroke-miterlimit: 10;
			stroke-width: 3px;
		}

		.background {
			fill: none;
			stroke: $gray;
			stroke-miterlimit: 10;
			stroke-width: 2px;
		}

	}

}


// MODIFIERS
.cursor {

	$self: &;

	&.is-ie {

		/*
		&.is-hovering {

			#{$self}-core {
				opacity: 0;
				background: map-get($cursor-options, hover-color);
				transform: translate3d(-50%,-50%,0) scale3d(1,1,1);
			}

			#{$self}-trail {
				border-color: rgba( map-get($cursor-options, hover-color), map-get($cursor-options, opacity) );
				transform: translate3d(-50%,-50%,0) scale3d(1,1,1);
			}

		}
		*/

	}

	&.is-hovering {

		mix-blend-mode: normal;

		#{$self}-core {
			opacity: 0;
			background: map-get($cursor-options, hover-color);
			transform: translate3d(-50%,-50%,0) scale3d(0,0,1);
		}

		#{$self}-trail {
			border-color: rgba( map-get($cursor-options, hover-color), map-get($cursor-options, opacity) );
			transform: translate3d(-50%,-50%,0) scale3d(1,1,1);
		}

		#{$self}-plus {
			opacity: 0;
			color: rgba( map-get($cursor-options, hover-color), map-get($cursor-options, opacity) );
			transform: translate3d(-50%,-50%,0) scale3d(1,1,1) rotate(0);
		}

		#{$self}-circular {
			opacity: 0;
			transform: translate3d(-50%,-50%,0) scale3d(0.25,0.25,1) rotate(90deg);
		}

	}

	&.is-moving {

	}

	&.is-down {

		#{$self}-core {
			opacity: 0;
			//background: map-get($cursor-options, hover-color);
			transform: translate3d(-50%,-50%,0) scale3d(0,0,1);
		}

		#{$self}-trail {
			border-width: 6px;
			border-color: rgba( map-get($cursor-options, hover-color), map-get($cursor-options, opacity) );
			transform: translate3d(-50%,-50%,0) scale3d(1,1,1);
		}

		#{$self}-plus {
			opacity: 1;
			transform: translate3d(-50%,-50%,0) scale3d(1,1,1) rotate(-360deg);
		}

		#{$self}-circular {
			opacity: 0;
			transform: translate3d(-50%,-50%,0) scale3d(0.25,0.25,1) rotate(90deg);

		}

	}

	&.is-previous {

		#{$self}-arrow {
			transform: translate3d(-50%,-50%,0) scale3d(1,1,1) rotate(-180deg);
		}

	}

	&.is-next {

		#{$self}-arrow {
			transform: translate3d(-50%,-50%,0) scale3d(1,1,1) rotate(0);
		}

	}

	&.no-cursor {
		opacity: 0 !important;
	}

}


// LOGIC
@if map-get($cursor-options, hide-default-cursor) == true {

	:root {
		cursor: none;
	}

}
