/* -------------------------------------------------- */
/* TESTIMONIALS CAROUSEL
/* -------------------------------------------------- */

// MAIN
.articles {

	position: relative;
	margin: {
		left: auto;
		right: auto;
	};
	width: 100%;
	max-width: 75%;


	article {

		margin-bottom: 6rem;
		width: 100%;
		height: auto;
		border-radius: 8px;

		.section-container-media {

			.section-media {
				//margin-bottom: 0;
			}

		}

		.section-container-text-block {

			.meta {

				li {
					display: inline-block;
					margin: {
						right: 1rem;
						bottom: 0.5rem;
					}
					padding: 0;
					color: $primary;
					font: $copy;
					font-size: 0.8em;
					border: none;
				}

			}

			h2 {
				margin-top: 4rem;
				color: $secondary;
			}

			p {
				//font-size: 1em;
				line-height: 1.5em;
			}

		}

	}

	@include break($type: 'width', $min: 0, $max: $tablet, $orientation: 'both') {
		max-width: 100%;
	}

}
